.app {
	color: white;
	position: fixed;
	top: 30vh;
	width: 100%;
}

.name {
	font-size: 58pt;
}

.description-container {
	margin-top: 30px !important;
}

.description {
	color: white;
	font-size: 18pt;
	line-height: 1.2em;
}

.icons {
	font-size: 24pt !important;
	display: table-cell !important;
	padding: 0 15px !important;
}

.buttons {
	border-style: none;
}

.section-divide {
	width: 100%;
	height: 20px;
}

.button-text {
	font-size: 16pt;
}
